<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>BUBBLES!</title>
</head>
<body class="<%= 'no-background' if defined?(frame) && frame %>">
  <div id="frame-container">

    <% if defined?(frame_urls) %>
      <% frame_urls.split(',').each_with_index do |url, i| %>
        <iframe id="iframe-<%= i %>" src="<%= url %>"></iframe>
      <% end %>
    <% end %>

    <div id="wrapper"></div>
    <div id="legends"></div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="bubbles.js"></script>
  <script>
    function setupStream(stream_uri) {
      var json, type, color;

      stream = new EventSource(stream_uri)

      stream.onmessage = function(event) {
        json = JSON.parse(event.data);
        json.type = json.type || 'none';

        new Bubble().init(json);
      }
    }

    <% "/stream|#{ENV['STREAMS']}".split('|').each do |stream| %>
      setupStream("<%= stream %>");
    <% end %>
  </script>

  <% if defined?(frame_urls) %>
    <script>
      var currentIframe = 0;

      setInterval(function() {
        $("#iframe-" + currentIframe).css({ 'z-index': 1 });
        currentIframe = (currentIframe + 1) % $('iframe').length;
        $("#iframe-" + currentIframe).css({ 'z-index': 2 });
      }, <%= defined?(duration) ? duration : (5 * 1000 * 60) %>);
    </script>
  <% end %>
</body>
</html>
